@import './normalize.css';
@import './variables.css';

th, td {
    border: 1px solid var(--color-border);
}

td {
    padding: 8px 12px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;

    overflow-x: hidden;

    background: var(--color-bg);
    color: var(--color-text-main)
}