* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-text-main);
}